<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Summary</title>
</head>

<body>
	<h1>Trip Summary</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
		<strong>Destination: </strong><%- destination %><br>
		<strong>From: </strong><%- from %><br>
		<strong>To: </strong><%- to %><br>
		<strong>Travel Method: </strong><%- travelMethod %><br>
		<strong>Purpose: </strong><%- purpose %><br>
		<br>
		<hr>
		<a href="/">HOME</a></li>
	</div>
</body>

</html>